<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>141848678365-ub928nlpavat06jcrqk21v654u6uj1t8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.141848678365-ub928nlpavat06jcrqk21v654u6uj1t8</string>
	<key>API_KEY</key>
	<string>AIzaSyCYcwG-Ojt_iodwBLJtac3NJPGDd0CuZvg</string>
	<key>GCM_SENDER_ID</key>
	<string>141848678365</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tatsumao</string>
	<key>PROJECT_ID</key>
	<string>tatsumao-976e2</string>
	<key>STORAGE_BUCKET</key>
	<string>tatsumao-976e2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:141848678365:ios:2f39d919d6820564973034</string>
	<key>DATABASE_URL</key>
	<string>https://tatsumao-976e2-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>